[%
USE Whostmgr;
USE JSON;

WRAPPER 'master_templates/master.tmpl'
	header = 'ConfigServer Explorer'
	skipsupport = 1
	skipheader = 1
	hide_license_warnings = 1
	theme='bootstrap'
	breadcrumbdata = {
		previous = [
		{
			name = "Home",
			url  = "/scripts/command?PFILE=main",
		},
		{
			name = "Plugins",
			url  = "/scripts/command?PFILE=Plugins",
		}
		],
		name = 'ConfigServer Explorer',
		url = '/cgi/configserver/cse.cgi',
	};
%]
 
[% cse_output %]

[% END %]
