body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #cccccc;
    background-color: #1e1d1d
}

.login-body
{
	font-family:Arial, Helvetica, sans-serif;
	background-color: #000;
}

/*
	Logo

	Live 		: /usr/sbin/lfd
	Source		: /src/lfd.pl
*/

img.logo
{
	width: 65px;
}

.panel
{
	margin-bottom: 20px;
	background-color: #303030;
	border: 1px solid transparent;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel img
{
	padding-right: 17px;
}

.panel h3
{
	margin: 15px -15px;
}

/*
	Button > Quick Allow
*/

.btn-allow
{
	background-color: #486a47  !important;
	border: 1px solid #FFFFFF0A !important;
}

.btn-allow:hover
{
	filter: brightness(120%);
	transition: all 0.3s;
}

/*
	Button > Quick Deny
*/

.btn-deny
{
	background-color: #a81840 !important;
	border: 1px solid #FFFFFF0A !important;
}

.btn-deny:hover
{
	filter: brightness(120%);
	transition: all 0.3s;
}

button#CSFpauseID
{
	background:#3566c0;
	border-radius:4px;
	border: 1px solid #3566c0;
	color: #d1d1d1 !important;
}

button#CSFpauseID:hover
{
	filter: brightness(120%) !important;
	transition: all 0.3s;
}

#paginatediv2 > .btn-default, #paginatediv > .btn-default
{
	background: #3566c0;
	border-radius: 4px;
	border: 1px solid #3566c0;
	color: #FFF !important;
	width: 80px;
}

#paginatediv2 > .btn-default:hover, #paginatediv > .btn-default:hover
{
	filter: brightness(120%) !important;
	transition: all 0.3s;
}

button:not(button#fontminus-btn):not(button#CSFpauseID):not(button#fontplus-btn):active,
button:not(button#fontminus-btn):not(button#CSFpauseID):not(button#fontplus-btn):visited,
button:not(button#fontminus-btn):not(button#CSFpauseID):not(button#fontplus-btn):focus,
button:not(button#fontminus-btn):not(button#CSFpauseID):not(button#fontplus-btn)
{
	background:#3566c0;
	border-radius:4px;
	border: 1px solid #3566c0;
	color: #FFF !important;
	min-width: 13em;
}

button:not(button#fontminus-btn):not(button#CSFpauseID):not(button#fontplus-btn):hover
{
	background: #457ce4;
	transition: all 0.3s;
}

/*
	Button > Desktop View
*/

.btn-desktop-view
{
	background:#552c71 !important;
	border-radius:4px;
	border: 1px solid #552c71 !important;
	color: #FFF !important;
}

.btn-desktop-view:hover
{
	background: #6d3a8f !important;
	transition: all 0.3s;
	border: 1px solid #6d3a8f !important;
}

.mobilecontainer
{
	width: 50vw;
	margin: auto auto;
	padding-top: 20px;
}

/*
	Button > Mobile > Large
*/

.btn-lg
{
	width: 50vw;
	margin: auto auto;
}

.form-mobile-ip-textbox:has(+p)
{
	padding-bottom: 20px;
}


.input-ipaddr:focus
{
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0),0 0 8px rgba(102, 174, 233, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0),0 0 8px rgba(102, 174, 233, 0);
}

form input
{
	width: 30vw;
	max-width: 400px;
	min-width: 100px;
	padding-left:10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #393939;
	border: 1px solid #e3e3e31a;
	color: #FFF;
	font-size: 11pt;
	transition: 0.5s;
	background: linear-gradient(#ffffff73 0 0) bottom / 0% 1px no-repeat #393939;
	cursor: pointer;
}

form input:hover
{
	background-size: 100% 1px;
}

.input-ipaddr
{
	margin: auto auto;
	height: 50px;
	width: 50vw;
	padding-left:10px;
	padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #393939;
	border: 1px solid #e3e3e31a;
	color: #FFF;
	font-size: 16pt;
	transition: 0.5s;
	background: linear-gradient(#ffffff73 0 0) bottom / 0% 1px no-repeat #393939;
	cursor: pointer;
	text-align: center;
	margin-bottom: 20px !important;
}

.input-ipaddr:hover
{
	background-size: 100% 1px;
}

.input-ipaddr::placeholder
{
	font-weight: light;
	opacity: 0.8;
	color: #707070;
}

.input-ipaddr:focus::placeholder
{
	color: transparent;
}

.input-ipaddr:focus
{
    outline: none;
}

/*
	Button > Mobile View
*/

.btn-mobile
{
	background:#2a7582;
	border-radius:4px;
	border: 1px solid #2a7582 !important;
	color: #FFF !important;
	min-width: 13em;
}

.btn-mobile:hover
{
	filter: brightness(120%) !important;
	transition: all 0.3s;
	background: #2a7582 !important;
}

/*
	Right side scroll icon
*/

.glyphicon
{
	color: #c83062 !important;
	padding-left: 2px;
	padding-right: 2px;
	top: 4px;
}

.glyphicon:hover
{
	color: #FFF !important;
	transition: all 0.3s;
}

/*
	Mark
*/

.mark, mark
{
	padding: .2em;
	background-color: #333;
	color: #ff7420;
	border-radius: 4px;
}

/*
select:has(+ .btn-default)
{
	background:#3566c0;
	border-radius:4px;
	border: 1px solid #3566c0;
	color: #FFF !important;
	max-width: 7em;
}
*/

/*
	Button > Logout
*/

.pull-right > a[href*="csflogout"]
{
	background-color: #a81840;
	color: #FFF;
	border: 1px solid #FFF0;
	position: absolute;
	top: 2.9%;
	right: 8%;
	transition: all 0.3s;
}

.pull-right > a[href*="csflogout"]:after
{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
	padding-top: 6px;
}

.pull-right > a[href*="csflogout"]:hover:after
{
	opacity: 1;
	right: 0;
	margin-right: 13px;
}

.pull-right > a[href*="csflogout"]:hover
{
	filter: brightness(120%);
	transition: all 0.3s;
	padding-right: 30px;
}

.icon-configserver
{
	color: #FFF;
}

#fontminus-btn, #fontplus-btn
{
	background-color: #4e8c49;
	border: 1px solid #fff0;
	color: #FFF;
	margin-bottom: 15px;
}

#fontminus-btn:hover, #fontplus-btn:hover
{
	filter: brightness(120%);
	transition: all 0.3s;
}

#fontminus-btn
{
	margin-right: 5px;
}

input.btn-default[type="submit"]
{
	background: #3566c0;
	border-radius: 4px;
	border: 1px solid #3566c0;
	color: #FFF !important;
	max-width: 7em;
}

input.btn-default[type="submit"]:hover
{
	filter: brightness(120%);
	transition: all 0.3s;
}

.btn-default:hover
{
	filter: brightness(120%);
	transition: all 0.3s;
}

.btn-csf-config:focus,
.btn-csf-config:hover,
.btn-csf-config:active,
.btn-csf-config.active
{
	background-color:#5FA654 !important;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	color: #FFF;
}

/*
	Force width on buttons:
		- lfd status
		- lfd restart
*/

:not(select):not(button) + .btn-default:not(button#CSFpauseID):not(a)
{
  	min-width: 13em;
}

.td-btn
{
	width: 200px;
}

.td-text {
}

th
{
	background: #353535;
	color: #FFF;
}

/*
	Main Container
*/

.container-fluid
{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

/*
	Main Container > Right (Log out)
*/

.pull-right
{
  float: right !important;
}

/*
	Tabs > Container
*/

.nav-tabs
{
	border-bottom: 1px solid #e3e3e31a;
	background-color: #373737;
	margin-top: 20px;
}

/*
	Tabs > Hover
*/

.nav > li > a:focus, .nav > li > a:hover
{
	text-decoration: none;
	background-color: #282828;
}

.nav-tabs > li > a
{
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	color: #FFF;
}

.nav-tabs > li > a:hover
{
	border-top: 1px solid #FFF3;
	border-left: 1px solid #FFF3;
	border-right: 1px solid #FFF3;
	border-bottom: 1px solid #282828;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #fff;
	cursor: default;
	background-color: #3859a6;
	border: 1px solid #dddddd17;
		border-bottom-color: rgba(221, 221, 221, 0.09);
	border-bottom-color: transparent;
}

/*
	Section > Header
*/

thead > tr > th
{
	background-color: #3c3c3c;
	border-bottom: 1px solid #e3e3e31a !important;
}

.table > thead > tr > th
{
	vertical-align: bottom;
	border-bottom: 1px solid #e3e3e31a !important;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

textarea
{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background-color: #1e1e1e;
}

.comment
{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border: 1px solid #e3e3e31a;
	padding: 10px;
	font-family: Courier New, Courier;
	font-size: 14px;
}

pre
{
	background-color: #171717 !important;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #c9c9c9;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #e3e3e31a;
	border-radius: 4px;
}

hr
{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
		border-top-width: 0px;
		border-top-style: none;
		border-top-color: currentcolor;
	border-top: 1px solid #e3e3e31a;
}

/*
	Scrollbar
*/

:root
{
	scrollbar-color: #bbbbbb80 #424242b2 !important;
}

input[type="text"]
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	border-radius: 3px;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #f2f2f238;
	background-color: #1c1c1c;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

input[type="text"], select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	border-radius: 3px;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #f2f2f238;
	background-color: #1c1c1c;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

input[type=text]:focus, select:focus
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	border-radius: 3px;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #f2f2f238;
	background-color: #1c1c1c;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.table-bordered
{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

tbody
{
	border-left: none;
	border-right: none;
}

.table-striped > tbody > tr
{
	background-color: #333;
}

.table-striped > tbody > tr:nth-of-type(2n+1)
{
	background-color: #2b2b2b;
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th
{
	border-bottom-width: 1px;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th
{
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
}

.table tbody>tr>td
{
	vertical-align: middle;
}

.panel-default > .panel-heading-cxs
{
	font-weight: bold;
	background-color: #505050;
}

.panel-footer
{
	padding: 10px 15px;
	background-color: #2b2b2b;
	border-top: 1px solid #e3e3e31a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.panel-default > .panel-footer-cxs
{
	font-weight: bold;
	background: #333;
}

.panel-default > .panel-heading
{
	color: #FFF;
	background-color: #353535;
	border-color: #e3e3e31a;
}

.panel-info > .panel-heading
{
	color: #31708f;
	background-color: #353535;
	border-color: #e3e3e31a;
}

.panel-body
{
	background-color: #2b2b2b;
}

code
{
	padding: 2px 4px;
	font-size: 90%;
	color: #ea8c28;
	background-color: #1e1e1e;
	border-radius: 4px;
}

.well
{
	min-height: 20px;
	margin-bottom: 20px;
	background-color: #353535;
	border: 1px solid #e3e3e31a;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#loader
{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -75px 0 0 -75px;
	border: 16px solid #F4F4EA;
	border-radius: 50%;
	border-top: 16px solid #990000;
	border-bottom: 16px solid #990000;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin
{
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*
	List each item / setting
*/

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th
{
	padding: 8px;
		padding-top: 6px;
		padding-bottom: 6px;
	line-height: 1.42857143;
	vertical-align: top;
}

.bs-callout
{
	padding-top: 5px;
	padding-bottom: 5px;
    margin: 10px 0;
    border: 1px solid #3c3c3c;
    border-left-width: 11px;
    border-radius: 3px;
	min-width: 10vw;
}

.bs-callout h4
{
    margin-bottom: 5px;
}

.bs-callout p:last-child
{
    margin-bottom: 0;
}

.bs-callout code
{
    border-radius: 3px;
}

.bs-callout+.bs-callout
{
    margin-top: -5px;
}

/*
	Callout > Success
*/

.bs-callout-success
{
    border-left-color: #798e42;
	background-color: #4c533b;
}

.bs-callout-success h4
{
	color: #FFF;
	font-weight: 100;
	font-size: 12pt;
}

/*
	Callout > Info
*/

.bs-callout-info
{
	border-left-color: #18a4ce;
	background-color: #044f66;
}

.bs-callout-info h4
{
	color: #FFF;
	font-weight: 100;
	font-size: 12pt;
}

/*
	Callout > Warning
*/

.bs-callout-warning
{
    border-left-color: #fa3;
	background-color: #6f5e2f;
}

.bs-callout-warning h4
{
	color: #FFF;
	font-weight: 100;
	font-size: 12pt;
}

/*
	Callout > Danger
*/

.bs-callout-danger
{
    border-left-color: #d9534f;
	background-color: #6f2f2f;
}

.bs-callout-danger h4
{
	color: #FFF;
	font-weight: 100;
	font-size: 12pt;
}

.label-pill
{
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.value-default
{
	background: #333;
	padding: 2px;
		padding-right: 2px;
		padding-left: 2px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.value-other
{
	background:#2A3F57;
	padding: 2px;
		padding-right: 2px;
		padding-left: 2px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.value-disabled
{
	background:#F5F5F5;
	padding: 2px;
		padding-right: 2px;
		padding-left: 2px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.value-warning
{
	background:#8E2A3C;
	padding: 2px;
		padding-right: 2px;
		padding-left: 2px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.section
{
	background-color: #396852;
	padding: 8px;
	margin-top: 30px;
	line-height: 1.42857143;
	border-bottom: 1px solid #e3e3e31a !important;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.toplink
{
	cursor: pointer;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 9999 !important;
	font-size: 36px;
	opacity: 0.5;
	display:none;
}

.botlink
{
	cursor: pointer;
	position:fixed;
	bottom:20px;
	right:20px;
	z-index: 9999 !important;
	font-size: 36px;
	opacity: 0.5;
	display:none;
}

.copy-left
{
	float: left;
}

.copy-right
{
	float: right;
}

.clear
{
	clear: both;
}

.section-header
{
	background-color: #3c3c3c;
	padding: 8px;
	line-height: 1.42857143;
	border-bottom: 1px solid #e3e3e31a !important;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.server-check-status-container
{
	display: flex;
	width: 100%;
	clear: both;
	background-color: #2b2b2b;
}

.server-check-status-check
{
	width: 250px;
	background-color: #80273D;
	padding: 8px;
	border-bottom: 1px solid #e3e3e31a;
}

.server-check-status-comment
{
	flex: 1;
	padding: 8px;
	border-bottom: 1px solid #e3e3e31a;
}

.server-check-verbose-container
{
	display: flex;
	width: 100%;
	clear: both;
}

.server-check-verbose-check
{
	width: 250px;
	background: #353535;
	padding: 8px;
	border-bottom: 1px solid #e3e3e31a;
}

.server-check-verbose-comment
{
	flex: 1;
	padding: 8px;
	border-bottom: 1px solid #e3e3e31a;
}

.server-check-result
{
	clear: both;
	background-color: #2b2b2b;
	color: #FFF;
	padding: 8px;
	border: 1px solid #e3e3e31a;
}

.server-check-output
{
	clear: both;
	background-color: #2b2b2b;
	padding: 8px;
	border: 1px solid #e3e3e31a;
}

.server-check-score-container
{
	border:1px solid #e3e3e31a;
	padding:8px;
	border-radius:5px;
	background-color: #282828;
}

.server-check-score-bar
{
	text-align: center;
	border-bottom: 1px solid #e3e3e31a;
	width: 100%;
	margin: auto;
}

.server-check-grade-poor
{
	width: 250px;
	height: 30px;
	background:#c42f4f
}

.server-check-grade-ok
{
	width: 125px;
	height: 30px;
	background: #be931a
}

.server-check-grade-good
{
	width: 60px;
	height: 30px;
	background: #e4bd4b
}

.server-check-grade-great
{
	width: 40px;
	height: 30px;
	background: #58a43c
}

.server-check-grade-excellent
{
	width: 25px;
	height: 30px;
	background: #4c8138
}

.server-check-grade-container
{
	display: flow-root;
	padding-top: 3px;
	padding-bottom: 3px;
}

.server-check-grade
{
	width:1px; height:30px;
	background:#FFF
}

.server-check-grade-text
{
	padding-left: 7px;
}

.server-check-grade-score
{
	color: #646464;
	font-weight: lighter;
}

.server-check-grade-score-num
{
	color: #FFF;
}

.server-check-grade-notice
{
	text-align: center;
	padding-bottom: 10px;
}

.form-generate-report
{
	padding-top: 15px;
}

.rbl-check-status-header
{
	clear: both;
	background-color: #3c3c3c;
	padding: 8px;
	line-height: 1.42857143;
	border-bottom: 1px solid #e3e3e31a !important;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/*
	Check IPs IBL
*/

.rbl-option .btn-default
{
	min-width: 214px !important;
}

/*
	Firewall Configuration
*/

.btn-group .btn-default
{
	width: 60px !important;
	min-width: 0px !important;
}

/*
	Toggle > Disabled > Normal
*/

.btn.btn-default.btn-csf-config.option-disabled
{
	background-color: #282828;
	color: #FFF;
	border-color: #ffffff29;
}

/*
	Toggle > Disabled > Active
*/

.btn.btn-default.btn-csf-config.option-disabled.active
{
	background-color: #A81B43 !important;
	color: #FFF;
}

/*
	Toggle > Enabled > Normal
*/

.btn.btn-default.btn-csf-config.option-enabled
{
	background-color: #282828;
	color: #FFF;
	border-color: #ffffff29;
}

/*
	Toggle > Enabled > Active
*/

.btn.btn-default.btn-csf-config.option-enabled.active
{
	background-color: #5a732f  !important;
	color: #FFF;
}