body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #cccccc;
    background-color: #1e1d1d
}

.panel
{
	margin-bottom: 20px;
	background-color: #303030;
	border: 1px solid transparent;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel img
{
	padding-right: 17px;
}

.panel h3
{
	margin: 9px -15px;
}

button#CSFpauseID
{
	background:#3566c0;
	border-radius:4px;
	border: 1px solid #3566c0;
	color: #d1d1d1 !important;
}

button:not(button#fontminus-btn):not(button#CSFpauseID):not(button#fontplus-btn):active,
button:not(button#fontminus-btn):not(button#CSFpauseID):not(button#fontplus-btn):visited,
button:not(button#fontminus-btn):not(button#CSFpauseID):not(button#fontplus-btn):focus,
button:not(button#fontminus-btn):not(button#CSFpauseID):not(button#fontplus-btn)
{
	background:#3566c0;
	border-radius:4px;
	border: 1px solid #3566c0;
	color: #d1d1d1 !important;
	min-width: 13em;
}

button:not(button#fontminus-btn):not(button#fontplus-btn):hover
{
	background:#4378da;
}

/*
	Mark
*/

.mark, mark
{
	padding: .2em;
	background-color: #333;
	color: #ff7420;
	border-radius: 4px;
}

/*
select:has(+ .btn-default)
{
	background:#3566c0;
	border-radius:4px;
	border: 1px solid #3566c0;
	color: #d1d1d1 !important;
	max-width: 7em;
}
*/

/*
	Button > Logout
*/

.pull-right > a[href*="csflogout"] {
  margin-top: 15px;
  margin-right: 20px;
  background-color: #9f1542;
  color: #FFF;
  border: 1px solid #FFF0;
}

.pull-right > a[href*="csflogout"]:hover
{
	background-color: #c83062;
}

.icon-configserver
{
	color: #FFF;
}

#fontminus-btn, #fontplus-btn
{
	background-color: #4e8c49;
	border: 1px solid #fff0;
	color: #FFF;
	margin-bottom: 15px;
}

#fontminus-btn:hover, #fontplus-btn:hover
{
	background-color: #426f3f;
}

#fontminus-btn
{
	margin-right: 5px;
}

input.btn-default[type="submit"]
{
	background: #3566c0;
	border-radius: 4px;
	border: 1px solid #3566c0;
	color: #d1d1d1 !important;
	max-width: 7em;
}

input.btn-default[type="submit"]:hover
{
	background: #477de2;
}

.btn-default:hover
{
	border: 1px solid #a0a0a0;
	background: #3c70d1;
}

.btn-csf-config:focus,
.btn-csf-config:hover,
.btn-csf-config:active,
.btn-csf-config.active
{
	background-color:#5FA654 !important;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	color: #FFF;
}

/*
	Force width on buttons:
		- lfd status
		- lfd restart
*/

:not(select):not(button) + .btn-default:not(button#CSFpauseID)
{
  	min-width: 13em;
}

.td-btn
{
	width: 200px;
}

.td-text {
}

th
{
	background: #353535;
	color: #FFF;
}

/*
	Main Container
*/

.container-fluid
{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

/*
	Main Container > Right (Log out)
*/

.pull-right
{
  float: right !important;
}

/*
	Tabs > Container
*/

.nav-tabs
{
	border-bottom: 1px solid #e3e3e31a;
	background-color: #373737;
}

/*
	Tabs > Hover
*/

.nav > li > a:focus, .nav > li > a:hover
{
	text-decoration: none;
	background-color: #282828;
}

.nav-tabs > li > a
{
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	color: #FFF;
}

.nav-tabs > li > a:hover
{
	border-top: 1px solid #FFF3;
	border-left: 1px solid #FFF3;
	border-right: 1px solid #FFF3;
	border-bottom: 1px solid #282828;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #fff;
	cursor: default;
	background-color: #3859a6;
	border: 1px solid #dddddd17;
		border-bottom-color: rgba(221, 221, 221, 0.09);
	border-bottom-color: transparent;
}

/*
	Section > Header
*/

thead > tr > th
{
	background-color: #3c3c3c;
	border-bottom: 1px solid #e3e3e31a !important;
}

.table > thead > tr > th
{
	vertical-align: bottom;
	border-bottom: 1px solid #e3e3e31a !important;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

textarea
{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background-color: #1e1e1e;
}

.comment
{
	border-radius: 5px;
	border: 1px solid #e3e3e31a;
	padding: 10px;
	font-family: Courier New, Courier;
	font-size: 14px;
}

pre
{
	background-color: #171717 !important;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #c9c9c9;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #e3e3e31a;
	border-radius: 4px;
}

hr
{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
		border-top-width: 0px;
		border-top-style: none;
		border-top-color: currentcolor;
	border-top: 1px solid #e3e3e31a;
}

/*
	Scrollbar
*/

:root
{
	scrollbar-color: #bbbbbb80 #424242b2 !important;
}

input[type="text"]
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	border-radius: 3px;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #f2f2f238;
	background-color: #1c1c1c;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

input[type="text"], select
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	border-radius: 3px;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #f2f2f238;
	background-color: #1c1c1c;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

input[type=text]:focus, select:focus
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	border-radius: 3px;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #f2f2f238;
	background-color: #1c1c1c;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.table-bordered
{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

tbody
{
	border-left: none;
	border-right: none;
}

.table-striped > tbody > tr
{
	background-color: #333;
}

.table-striped > tbody > tr:nth-of-type(2n+1)
{
	background-color: #2b2b2b;
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th
{
	border-bottom-width: 1px;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th
{
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
}

.table tbody>tr>td
{
	vertical-align: middle;
}

.panel-default > .panel-heading-cxs
{
	font-weight: bold;
	background-color: #505050;
}

.panel-footer
{
	padding: 10px 15px;
	background-color: #2b2b2b;
	border-top: 1px solid #e3e3e31a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.panel-default > .panel-footer-cxs
{
	font-weight: bold;
	background: #333;
}

.panel-default > .panel-heading
{
	color: #FFF;
	background-color: #353535;
	border-color: #e3e3e31a;
}

.panel-info > .panel-heading
{
	color: #31708f;
	background-color: #353535;
	border-color: #e3e3e31a;
}

.panel-body
{
	background-color: #2b2b2b;
}

code
{
	padding: 2px 4px;
	font-size: 90%;
	color: #ea8c28;
	background-color: #1e1e1e;
	border-radius: 4px;
}

.well
{
	min-height: 20px;
	margin-bottom: 20px;
	background-color: #353535;
	border: 1px solid #e3e3e31a;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

#loader
{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -75px 0 0 -75px;
	border: 16px solid #F4F4EA;
	border-radius: 50%;
	border-top: 16px solid #990000;
	border-bottom: 16px solid #990000;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin
{
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.bs-callout
{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #3c3c3c;
    border-left-width: 11px;
    border-radius: 3px;
}

.bs-callout h4
{
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child
{
    margin-bottom: 0;
}

.bs-callout code
{
    border-radius: 3px;
}

.bs-callout+.bs-callout
{
    margin-top: -5px;
}

/*
	Callout > Success
*/

.bs-callout-success
{
    border-left-color: #839751;
	background-color: #394027;
}

.bs-callout-success h4
{
    color: #5cb85c;
}

/*
	Callout > Info
*/

.bs-callout-info
{
	border-left-color: #18a4ce;
	background-color: #044f66;
}

.bs-callout-info h4
{
    color: #5bc0de;
}

/*
	Callout > Warning
*/

.bs-callout-warning
{
    border-left-color: #f0ad4e;
	background-color: #4d3e13;
}

.bs-callout-warning h4
{
    color: #f0ad4e;
}

/*
	Callout > Danger
*/

.bs-callout-danger
{
    border-left-color: #d9534f;
	background-color: #141414;
}

.bs-callout-danger h4
{
    color: #d9534f;
}

.label-pill
{
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.value-default
{
	background: #91193A;
	padding: 2px;
		padding-right: 2px;
		padding-left: 2px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.value-other
{
	background:#F4F4EA;
	padding:2px;
	border-radius:5px;
}

.value-disabled
{
	background:#F5F5F5;
	padding:2px;
	border-radius:5px;
}

.value-warning
{
	background:#FFC0CB;
	padding:2px;
	border-radius:5px;
}

.section
{
	border-radius:5px;
	border: 2px solid #990000;
	padding: 10px;
	font-size:16px;
	font-weight:bold;
}

.toplink
{
	cursor: pointer;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 9999 !important;
	font-size: 36px;
	opacity: 0.5;
	display:none;
}

.botlink
{
	cursor: pointer;
	position:fixed;
	bottom:20px;
	right:20px;
	z-index: 9999 !important;
	font-size: 36px;
	opacity: 0.5;
	display:none;
}

.copy-left
{
	float: left;
}

.copy-right
{
	float: right;
}

.clear
{
	clear: both;
}

.section-header
{
	background-color: #3c3c3c;
	padding: 8px;
	line-height: 1.42857143;
	border-bottom: 1px solid #e3e3e31a !important;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.server-check-status-container
{
	display: flex;
	width: 100%;
	clear: both;
	background-color: #731829;
}

.server-check-status-check
{
	width: 250px;
	background-color: #8E2841;
	padding: 8px;
	border-bottom: 1px solid #e3e3e31a;
}

.server-check-status-comment
{
	flex: 1;
	padding: 8px;
	border-bottom: 1px solid #e3e3e31a;
}

.server-check-verbose-container
{
	display: flex;
	width: 100%;
	clear: both;
}

.server-check-verbose-check
{
	width: 250px;
	background: #353535;
	padding: 8px;
	border-bottom: 1px solid #e3e3e31a;
}

.server-check-verbose-comment
{
	flex: 1;
	padding: 8px;
	border-bottom: 1px solid #e3e3e31a;
}

.server-check-result
{
	clear: both;
	background-color: #2b2b2b;
	color: #FFF;
	padding: 8px;
	border: 1px solid #e3e3e31a;
}

.server-check-output
{
	clear: both;
	background-color: #2b2b2b;
	padding: 8px;
	border: 1px solid #e3e3e31a;
}

.server-check-score-container
{
	border:1px solid #e3e3e31a;
	padding:8px;
	border-radius:5px;
	background-color: #282828;
}

.server-check-score-bar
{
	text-align: center;
	border-bottom: 1px solid #e3e3e31a;
	width: 100%;
	margin: auto;
}

.server-check-grade-poor
{
	width: 250px;
	height: 30px;
	background:#c42f4f
}

.server-check-grade-ok
{
	width: 125px;
	height: 30px;
	background: #be931a
}

.server-check-grade-good
{
	width: 60px;
	height: 30px;
	background: #e4bd4b
}

.server-check-grade-great
{
	width: 40px;
	height: 30px;
	background: #58a43c
}

.server-check-grade-excellent
{
	width: 25px;
	height: 30px;
	background: #4c8138
}

.server-check-grade-container
{
	display: flow-root;
	padding-top: 3px;
	padding-bottom: 3px;
}

.server-check-grade
{
	width:1px; height:30px;
	background:#FFF
}

.server-check-grade-text
{
	padding-left: 7px;
}

.server-check-grade-score
{
	color: #646464;
	font-weight: lighter;
}

.server-check-grade-score-num
{
	color: #FFF;
}

.server-check-grade-notice
{
	text-align: center;
	padding-bottom: 10px;
}

.form-generate-report
{
	padding-top: 15px;
}

.rbl-check-status-header
{
	clear: both;
	background-color: #3c3c3c;
	padding: 8px;
	line-height: 1.42857143;
	border-bottom: 1px solid #e3e3e31a !important;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/*
	Check IPs IBL
*/

.rbl-option .btn-default {
  min-width: 214px !important;
}